<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>NewWay_80000000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixHeaders_20000000</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
			</array>
			<key>DropOEM_DSM</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-0.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
			<string>SSDT-7.aml</string>
			<string>SSDT-8.aml</string>
			<string>SSDT-pr.aml</string>
			<string>SSDT-HDMI-HD4400.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 kext-dev-mode=1</string>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Timeout</key>
		<integer>2</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>b25ib2FyZC0xAA==</data>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>b25ib2FyZC0xAA==</data>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>layout-id</string>
				<key>Value</key>
				<data>GwAAAA==</data>
				<key>Comment</key>
				<string>layout-id=27</string>
			</dict>
		</array>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<true/>
					<key>FullTitle</key>
					<string>UEFI Internal</string>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
			<string>Recovery HD</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>BootCamp</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>10.11.dp1+ BT4LE-Handoff-Hotspot, credit RehabMan based on Dokterdok original</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable HD4600 HDMI Audio </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 5Ghz</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>MatchOS</key>
				<string>10.11.x,10.12.x</string>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>ZscGI2HrKw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a260005 0x0a260006</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>Replace</key>
				<data>AgQJAAAIAACHAAAA</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x03</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>10/18/13</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP112.88Z.0138.B02.1310181745</string>
		<key>Board-ID</key>
		<string>Mac-3CBD00234E554E41</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02K7SNAFD56A0CF3</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>08</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>Channels</key>
			<integer>1</integer>
			<key>Modules</key>
			<array>
				<dict>
					<key>Frequency</key>
					<string>1600</string>
					<key>Serial</key>
					<string>CED9020DFh (3741505998)</string>
					<key>Size</key>
					<string>4096</string>
					<key>Slot</key>
					<string>0</string>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Elpida</string>
				</dict>
			</array>
			<key>SlotCount</key>
			<integer>2</integer>
		</dict>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro11,2</string>
		<key>SerialNumber</key>
		<string>C02K7SNAFD56</string>
		<key>Trust</key>
		<false/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
